html * {
  font-family: sans-serif, ariel;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a:link {
  color: white;
  text-decoration: none;
}

body {
  overscroll-behavior: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  color: #dfdfdf;
}
#navbar {
  height: 50px;
  width: 100vw;
  position: fixed;
  font-size: 20px;
  z-index: 10;
  background-color: #2f30617d;
}

.nav-list {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list li {
  position: relative;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5);
}

.nav-list a:link,
a:visited {
  color: #dfdfdf;
}

#main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343434;
  color: #ffffff;
  overflow-x: hidden;
  width: 100%;
}

#main-flex p {
  font-size: 30px;
  color: #dfdfdf;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

#techs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 6rem;
  margin: 10rem 0 0 0;
  padding: 1rem 0 1rem 0;
  background-color: #2f3061;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(./img/pexels-photo-2338113.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#welcome-section h1,
#welcome-section p {
  z-index: 5;
}
#aboutMeText {
  padding: 1rem;
  background-color: #343434b1;
}

#projects {
  position: relative;
  min-height: 100vh;
  height: fit-content;
  display: block;
  text-align: center;
  background-color: #2f3061;
}

#projects h2 {
  margin-top: 7rem;
  position: relative;
  z-index: 5;
}

#projects p {
  margin: auto;
  padding: 1rem;
  width: 50%;
}

#my_work {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 5;
}

.work_item {
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.work_item p {
  opacity: 0;
  transform: scale(0);
  font-size: 3rem;
  color: white;
  transition: 0.5s;
}

.work_item:hover {
  box-shadow: 0 0 0 250px rgba(0, 0, 0, 0.63) inset;
}

.work_item:hover p {
  opacity: 1;
  transform: scale(1);
}

#work_item_1 {
  background-image: url("./img/rentaretro.jpg");
}

#work_item_2 {
  background-image: url("./img/Product_page.jpg");
}

#work_item_3 {
  background-image: url("./img/Tech_doc.jpg");
}

#work_item_4 {
  background-image: url("./img/PongGame.jpg");
}

#work_item_5 {
  background-image: url("./img/ToDo_List.jpg");
}

#work_item_6 {
  background-image: url("./img/substracked.jpg");
}

#animation_works {
  display: inline-block;
  position: relative;
  background-size: cover;
  z-index: 5;
  text-align: center;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-image: url("./img/pexels-donald-tong-66134.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#animationwrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

#animationwrap h2 {
  padding: 1rem;
}
#animation_showreel {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
#animation_showreel iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#animation_works h2 {
  position: relative;
  z-index: 5;
  margin-top: 7rem;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2f3061;
}

#sns_icons {
  display: flex;
  gap: 3rem;
  width: 100%;
}

.contactMeIcon {
  display: block;
  padding: 35px 20px 5px 20px;
  font-size: 50px;
  width: 80px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #5f5980;
  border-radius: 80px;
  box-shadow: 6px 6px 10px black, -6px -6px 10px black;
  margin-left: auto;
  margin-right: auto;
}

#sns_icons :hover {
  background-color: #ffffff80;
  transition: 0.8s;
}

#mv1 {
  width: 80vw;
  height: 80vh;
  border: 1px solid white;
  margin: auto;
}

#model_Section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (max-width: 1080px) {
  .nav-list {
    margin-left: 0;
  }

  #my_work {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 5;
  }
}
